body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }

table,th, td { 
    border-collapse:collapse; 
    border: 1px solid black;
    padding: 5px 10px;
    margin: 5px;
}

body { background: #fff; }

.chart { height: 600px; margin: 5px; width: 900px; }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }

.node-name { font-weight: bold;}

.nodeExample {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 120px;
    font-family: Tahoma;
    font-size: 12px;
}

.nodeExample img {
    margin-right:  10px;
    width: 64px;
    height: 82px;
}

#basic-example {
    border: 1px solid lightgray;
    margin: 50px;
}