<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 이 XML 을 어떤 interface 를 통해서 연결 할 건가? -->
<mapper namespace="com.silver.alarm.AlarmDAO">
	<insert id="notiAlarmInsert">
		insert into alread(mem_id,ar_cnt,ar_content,ac_idx,ar_addr)
			select m.mem_id,'안읽음',#{param1},5,#{param2} from `member` m where m.mem_id not in(#{param3});
	</insert>
	
	<insert id="PayAlarmInsert">
		insert into alread(mem_id,ar_cnt,ar_content,ac_idx,ar_addr) 
			values(#{param3},'안읽음',#{param1},2,#{param2})
	</insert>
	
	<select id="AlarmCall" resultType="alarm">
		select * from alread a  where a.mem_id =#{param1} and a.ar_cnt ='안읽음' order by ar_idx desc;
	</select>
	
	<update id="removeCount">
		update alread set ar_cnt='읽음' where ar_idx=#{param1}
	</update>
</mapper>





