<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 이 XML 을 어떤 interface 를 통해서 연결 할 건가? -->
<mapper namespace="com.silver.boardnotice.NoticeDAO">
	<select id="listCall" resultType="notice">
		select b.bd_idx,b.bd_title,m.mem_name,b.bd_date,bd_content,m.mem_id  from board b,member m where b.bc_idx =1 and 
			b.mem_id =m.mem_id order by b.bd_idx desc limit 10 offset #{param1};
	</select>
	
	<select id="noticeSizeTotal" resultType="int">
		select count(b.bd_idx) from board b where b.bc_idx =1;
	</select>
	
	<select id="detailCall" resultType="notice">
		select b.bd_idx ,b.bd_title ,b.bd_date ,b.bd_content,m.mem_name from board b,member m  
			where bd_idx=#{param1} and m.mem_id=b.mem_id ;
	</select>
	<select id="searchNoticeTotal" resultType="int">
		select count(bd_idx) from board b
		<if test="param1.equals('write')">
			inner join member m on b.mem_id =m.mem_id where b.bc_idx =1 and m.mem_name =#{param2}
		</if>
		<if test="param1.equals('title')">
			inner join member m on b.mem_id =m.mem_id where b.bc_idx =1 
				and b.bd_title  like CONCAT('%',#{param2},'%')
		</if>
	</select>
	
	<select id="searchNotice" resultType="notice">		
		select b.bd_idx ,b.bd_title ,b.bd_date ,b.bd_content ,m.mem_name  
			from board b
		<if test="param1.equals('write')">
			inner join member m on b.mem_id =m.mem_id where b.bc_idx =1 and m.mem_name =#{param2}
		</if>
		<if test="param1.equals('title')">
			inner join member m on b.mem_id =m.mem_id where b.bc_idx =1 
				and b.bd_title  like CONCAT('%',#{param2},'%')
		</if>
			order by b.bd_idx desc limit 10 offset #{param3};
	</select>
	
	<insert id="writeBoard" parameterType="notice" useGeneratedKeys="true" keyColumn="bd_idx"
	keyProperty="bd_idx">
		insert into board(mem_id,bd_title,bd_content,bc_idx) values(#{mem_id},#{bd_title},#{bd_content},1);
	</insert>
	
	<update id="notiUpdate">
		update board set bd_title=#{param3},bd_content=#{param4},mem_id=#{param2} where bd_idx=#{param1}
	</update>
</mapper>





