<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 XML 을 어떤 interface 를 통해서 연결 할 건가? -->
<mapper namespace="com.silver.resident.InfestDAO">

	<select id="infestListCall" resultType="hashmap">
		SELECT r.re_idx ,r.re_name, r.re_jumin,r2.ro_name,i.if_state  
		FROM resident r,room r2,infest i 
 		where r.ro_name =r2.ro_name group by r.re_idx 
 		limit 10 offset #{param1}
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(re_idx) from resident
	</select>
	
	<select id="infestListHistoryCall" resultType="hashmap">
		SELECT * FROM infest i where re_idx =#{param2}
		order by if_date desc limit 10 offset #{param1}
	</select>
	
	<select id="totalCount1" resultType="int">
		SELECT COUNT(re_idx) from resident
	</select>
	
	<select id="searchinfestTotal">
		select count(re_idx) from resident
	</select>
	
	<select id="searchinfest" resultType="int">
		select count(re_idx) from resident
	</select>
	
	<insert id="infestHistoryWrite" parameterType="hashmap">
		INSERT INTO infest(if_write,if_jusa,if_name,if_state,if_comment,re_idx)
		VALUES(#{if_write},#{if_jusa},#{if_name},#{if_state},#{if_comment},#{re_idx})
	</insert>
	
 	<select id="infestHistoryWriteUpdateForm" 
 	resultType="infest" parameterType="int">
 		SELECT * from infest i where if_idx =#{param1}
 	</select>
	
	<update id="infestHistoryUpdate" parameterType="hashmap"><!--파라메터 타입 hashmap이면 param1x ex if_write=#{if_write}이게 올바른 방법  -->
		UPDATE infest set 
		if_write=#{if_write},
		if_jusa=#{if_jusa},
		if_name=#{if_name},
		if_state=#{if_state},
		if_comment=#{if_comment},
		re_idx =#{re_idx}
		where if_idx=#{if_idx}
	</update>
</mapper>



