<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
   
<mapper namespace="com.silver.resident.ResidentProgramDAO">
	
	<select id="programlist" resultType="program">
		select p.pr_idx,p.pr_name,p.pr_teacher,p.pr_start,p.pr_end,p2.pc_cate 
		from program p inner join procategory p2 on p.pc_idx=p2.pc_idx order by p.pr_idx desc;
	</select>
	
	<insert id="ProgramWriteComplete" parameterType="program">
		insert into program(pr_idx,pr_name,pr_teacher,pr_start,
		pr_end,pr_content,pr_goal,pr_place,pr_state,pc_idx) 
		value(#{pr_idx},#{pr_name},#{pr_teacher},#{pr_start},
		#{pr_end},#{pr_content},#{pr_goal},#{pr_place},#{pr_state},#{pc_idx});
	</insert>
	
	<select id="procategoryList" resultType="program">
		select pc_idx,pc_cate from procategory;
	</select>
	
	<select id="programDetail" resultType="program">
		select *from program where pr_idx=#{param1};
	</select>
	

</mapper>