<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 이 XML 을 어떤 interface 를 통해서 연결 할 건가? -->
<mapper namespace="com.silver.resident.ResidentDAO">


	<select id="resident" resultType="rd">
			select *,RIGHT(YEAR(now()),2)-left(re_jumin,2)+100 as re_age from resident order by re_idx desc
	</select>
	
	<select id="residentsearch" resultType="rd" parameterType="hashmap">
			select * from resident where
			<if test="re_state != null and re_state != ''">
				<![CDATA[re_state=#{re_state} ]]>
			</if>
			<if test="re_state != null and re_state != '' and re_name != '' and re_name != null">
				<![CDATA[and ]]>
			</if>
			<if test="re_name != null and re_name != ''">
				<![CDATA[re_name=#{re_name} ]]>
			</if>
			order by re_idx desc
	</select>
	<select id="residentCateSearch" resultType="rd" parameterType="hashmap">
			select * from resident where
			<if test="re_name != null and re_name != ''">
				<![CDATA[re_name=#{re_name} ]]>
			</if>
			order by re_idx desc
	</select>

	<select id="residentdetail" resultType="rd" parameterType="String">	
		select *,f.fp_newFileName from resident r, filephoto f where r.re_idx = #{re_idx} and r.re_idx = f.re_idx and f.fpc_idx=4;
	</select>
	<!-- 
	<select id="residentFiledetail" resultType="rd" parameterType="String">	
		select r.re_idx, f.fp_newFileName as file_fp_newFileName, f.fp_oriFileName as file_fp_oriFileName from resident r, filephoto f where r.re_idx = #{re_idx} and r.re_idx = f.re_idx and f.fpc_idx=5;
	</select>
	 -->
	
	<select id="residentFiledetail" resultType="rdfile" parameterType="String">	
		select r.re_idx, f.fp_newFileName, f.fp_oriFileName from resident r, filephoto f where r.re_idx = #{re_idx} and r.re_idx = f.re_idx and f.fpc_idx=5;
	</select>


	<insert id="residentwrite"
		useGeneratedKeys="true"
		keyColumn="re_idx"
		keyProperty="re_idx"
		parameterType="rd">
		INSERT INTO resident(
		re_name
		,re_state
		,re_gender
		,re_grade
		,re_pnum
		,re_addr
		,re_sick
		,re_text
		,re_jumin
		,re_date
		,ro_name
		,re_daddr)
			VALUES(
			#{re_name}
			,#{re_state}
			,#{re_gender}
			,#{re_grade}
			,#{re_pnum}
			,#{re_addr}
			,#{re_sick}
			,#{re_text}
			,#{re_jumin}
			,#{re_date}
			,#{ro_name}
			,#{re_daddr}) 
	</insert>
	
	
	<insert id="residentphotoInsert" >
		INSERT INTO filephoto(re_idx,fp_oriFileName, fp_newFileName, fpc_idx)
			VALUES(#{param1}, #{param2}, #{param3}, 4);
	</insert>
	

	<insert id="residentfileInsert"  >
		INSERT INTO filephoto(re_idx,fp_oriFileName, fp_newFileName, fpc_idx)
			VALUES(#{param1}, #{param2}, #{param3}, 5);
	</insert>
	 
	
	
	<update id="residentphotoUpload"  >
			UPDATE filephoto SET				
				fp_oriFileName = #{param2},
				fp_newFileName = #{param3}
			WHERE re_idx = #{param1} and fpc_idx=4
	</update>
	<update id="residentfileUpload" 
		useGeneratedKeys="true"
		keyColumn="fp_idx"
		keyProperty="fp_idx">
		UPDATE filephoto SET				
				fp_oriFileName = #{param2},
				fp_newFileName = #{param3}
			WHERE re_idx = #{param1} and fpc_idx=5
	</update>
	
	
	
	
	

	<update id="residentupdate" parameterType="hashmap">
		UPDATE resident SET
			re_name = #{re_name},
			re_state = #{re_state},
			re_gender = #{re_gender},
			re_grade = #{re_grade},
			re_pnum = #{re_pnum},
			re_addr = #{re_addr},
			re_sick = #{re_sick},
			re_text = #{re_text},
			re_jumin = #{re_jumin},
			ro_name = #{ro_name},
			re_daddr = #{re_daddr}
		WHERE re_idx = #{re_idx}
	</update>	
	
	
	
</mapper>







