<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 이 XML 을 어떤 interface 를 통해서 연결 할 건가? -->
<mapper namespace="com.silver.resident.RoomDAO">
	<select id="roomList" resultType="room">
		select r2.re_name from room r inner join resident r2 on r.ro_name = r2.ro_name
	</select>
	
	<select id="memList" resultType="room">
		select mem_name from member where part_num ='1';
	</select>

</mapper>