<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 XML 을 어떤 interface 를 통해서 연결 할 건가? -->
<mapper namespace="com.silver.member.MemberOrgChartDAO">
	<select id="memberOrgChartCall" resultType="member">
		SELECT mem_name,mem_pnum,d.dept_name,p.pos_level,d.dept_num,p.pos_name 
			FROM  `member` m  
			inner join depart d 
			on m.dept_num = d.dept_num 
			inner join `position` p 
			on m.pos_num = p.pos_num  
		ORDER by p.pos_level ; 
	</select>
	
</mapper>



